@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-size: clamp(16px, 2.5vw, 18px);
  font-weight: 500;
  line-height: 1.5em;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #303030;
  min-height: 100svh;
}

header {
	position: sticky;
	top: 0;
	width: 100%;
	display: flex;
  align-items: start;
  flex-wrap: wrap;
	/* justify-content: center; */
  font-family: sans-serif;
	padding: 1.5rem 1rem 0.5rem;
	gap: .5rem;
	z-index: 10;
  justify-content: auto;
  background-image: linear-gradient(#303030, #30303000);

}
header a {
  text-decoration: none;
  color: white;

  border-radius: 1rem;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}
header a:hover {
  color: #a1babb;
  border: 2px solid #a1babb;

}

@media screen and (max-width: 44rem) {

  header {
    justify-content: center;
  }
}