.grid {
	display: grid;
	width: min(100%, 60rem);
	margin-inline: auto;
	padding-block: 3rem;
	grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    justify-items: center;
	gap: 2rem;
}

h2 {
	font-size: 3rem;
	color: white;
	margin: 1rem auto;
	width: min(100%, 60rem);
}

main {
	margin: 5rem 1rem;
}

@media (max-width: 44rem) {
	.grid {
		grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
        padding-block: 3rem;
	}
}
